{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <p>Email: {{ user.email }}</p>
    <p>Nome Completo: {{ user.nome_completo }}</p>
    <p>CEP: {{ user.cep }}</p>
    <p>Telefone: {{ user.telefone }}</p>
    <p>Endereço: {{ user.endereco }}</p>
    <p>CPF: {{ user.cpf }}</p>

    <h2>Histórico de Compras</h2>
    <ul>
        {% for resposta in respostas %}
            <li>
                Serviço: {{ resposta.pergunta.servico.nome }} <br>
                Pergunta: {{ resposta.pergunta.texto }} <br>
                Resposta: {{ resposta.resposta }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
