.av-result {
    background-color: #333;
    color: #fff; /* Texto branco para contraste */
    padding: 20px;
  }
  .card-body{
    background-color: #333;
    color: #fff; /* Texto branco para contraste */
  }