.av-result {
    background-color: #fff;
    color: #333; /* Texto branco para contraste */
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  .card-body{
    background-color: #fff;
    color: #333; /* Texto branco para contraste */
    font-family: 'Times New Roman', Times, serif;
  }