
/* Seção Hero */
.hero {
  background-color: #fff; /* Fundo escuro */
  color: #FFFFFF; /* Texto branco */
  padding: 70px 0; /* Padding superior e inferior */
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 50%;
  padding: 20px;
}

.hero-title {
  background: linear-gradient(to right, #c7a865, #fafbfc); /* Gradiente de cor */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-description {
  font-size: 1.125rem;
  margin-bottom: 30px;
  color: white !important; /* Texto em cinza claro */
}

.hero-image {
  max-width: 50%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px; /* Borda arredondada */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  overflow: hidden; /* Garante que o conteúdo siga o border-radius */
}
/* sub- home */
/* Estilo para a seção */
.sub-home {
  background-color: #2c2c2c; /* Um tom mais escuro que #333 */
  padding: 20px 0;
}

/* Estilo para a lista dentro da seção */
.sub-home-list {
  display: flex;
  justify-content: center; /* Centraliza a lista horizontalmente */
  align-items: center; /* Alinha verticalmente os itens */
  list-style: none; /* Remove marcadores da lista */
  padding: 0;
  margin: 0;
}

/* Estilo para cada item da lista */
.sub-home-list li {
  color: #fff; /* Texto em branco */
  font-size: 1rem; /* Tamanho da fonte */
  font-weight: bold; /* Fonte em negrito */
  margin: 0 20px; /* Espaço lateral entre os itens */
}
/* fim sub-home */
/* Botões */
/* Estilos específicos para a página inicial */
.home-page .btn {
    display: inline-block;
    padding: 30px 45px !important;/* Tamanho maior do botão */
    font-size: 2.125rem; /* Tamanho da fonte */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 30px !important; /* Borda arredondada */
    color: #FFFFFF; /* Cor do texto */
    background: linear-gradient(135deg, #291945, #5e163b); /* Gradiente azul claro */
    transition: background 0.3s ease; /* Transição suave para mudança de cor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */
    position: relative;
    overflow: hidden;
}
/* Animação de pulsação */
.btn-pulse {
  animation: pulse 1.5s infinite; /* Loop infinito */
}


/* Definição da animação pulse */
@-webkit-keyframes pulse {
0% {
  -webkit-box-shadow: 0 0 0 0 rgba(206, 165, 17, 0.4);
}
70% {
  -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
}
100% {
  -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
}
}

@keyframes pulse {
0% {
  box-shadow: 0 0 0 0 rgba(206, 165, 17, 0.4);
}
70% {
  box-shadow: 0 0 0 10px rgba(204,169,44, 0);
}
100% {
  box-shadow: 0 0 0 0 rgba(204,169,44, 0);
}
}

/* fim botao */
/* body em todas as paginas */
body {
  background-color: #fff !important; /* Fundo escuro */
  color: #1b1626 !important; /* Texto branco */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Estilos para seções */
section {
  padding: 60px 0;
}

/* Estilos para a seção hero */
.hero {
  background-image: url('./img/home_2.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 50%;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-description {
  font-size: 1.125rem;
  margin-bottom: 30px;
  color: #B0B0B0;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: #1E90FF; /* Azul escuro */
  color: #FFFFFF;
  border: none;
  padding: 40px 60px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.btn-primary {
  background-color: #562968 !important;
  border-color: #562968 !important;
  width: 300px;
  
}
.Manager{
  max-width: 100%;
  border-radius: 30px;
}
.Validation{
  max-width: 100%;
  border-radius: 30px;
  right: 30px;
}
.btn-primary:hover {
  background-color: #5e163b; /* Azul claro ao passar o mouse */
}

.btn-cart, .btn-wishlist {
  background-color: transparent;
  border: 1px solid #562968;
  color: #1E90FF;
}

.btn-cart:hover, .btn-wishlist:hover {
  background-color: #1E90FF;
  color: #FFFFFF;
}

/* Seção de Produtos */
/* Estilo da seção de produtos */
.section-products {
  padding: 50px 0;
  background-color: #fff; /* Cor de fundo da seção */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-header h1 {
  font-size: 2.5rem;
  color: #1b1626;
}

/* Lista de produtos */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Card de produto */
.product-card {
  background-color: #291945; /* Azul claro */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  text-align: center;
  padding: 20px;
  position: relative;
}

/* Badge de novo produto */
.product-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff4081; /* Cor do badge */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: bold;
}

/* Informações do produto */
.product-info {
  margin-top: 20px;
}

.product-title {
  font-size: 1.5rem; /* Tamanho do título */
  color: wheat; /* Cor do texto */
  margin-bottom: 30px;
}

.product-price {
  font-size: 1.75rem; /* Tamanho do preço */
  color: #fff; /* Cor do preço */
  margin-bottom: 40px;
}

/* Botão com gradiente */
.btn {
  display: inline-block;
  padding: 15px 30px; /* Tamanho maior do botão */
  font-size: 1.125rem; /* Tamanho da fonte */
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 30px !important;
  color: #fff; /* Cor do texto do botão */
  transition: background 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* Botão com gradiente */
.btn-cart {
  background: linear-gradient(135deg, #FF6D03, #f90); /* Azul mais forte */
}

/* Botão com gradiente (opcional) */
.btn-wishlist {
  background: linear-gradient(135deg, #0072ff, #53b4d9); /* Azul mais forte */
}
.btn-cart:hover {
  background: linear-gradient(135deg,  #FF6D03, #f90); /* Gradiente invertido no hover */
}

.btn-wishlist:hover {
  background: linear-gradient(135deg,  #FF6D03, #f90); /* Gradiente invertido no hover */
}

/* fim produto */
.txt_gradiente {
  background: linear-gradient(135deg, #c7a865, #562968); /* Gradiente de cor */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem; /* Tamanho da fonte */
  font-weight: bold;
}
/* Seções de Texto */
#validation, #manager, #marketer {
  background-color: #fff;
}

.validation-content, .manager-content, .marketer-content {
  display: flex;
  justify-content: space-between;
}

.validation-text, .manager-text, .marketer-text {
  max-width: 50%;
}

.validation-text h5, .manager-text h5, .marketer-text h5 {
  color: #1c141a;
}

.validation-text h2, .manager-text h2, .marketer-text h2 {
  color: #1c141a;
}

.validation-text p, .manager-text p, .marketer-text p {
  color: #B0B0B0;
}

.benefits {
  background-color: #fff;
  padding: 40px 0;
  color: #FFFFFF;
}

.benefit {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.benefit img {
  width: 20px; /* Tamanho pequeno da imagem */
  height: 20px;
  margin-right: 10px;
}

.benefit p {
  margin: 0;
  color: #1c141a;
  font-size: 1rem;
}

.benefit br {
  display: none; /* Remove quebras de linha extras para melhor layout */
}

/* Responsividade */
@media (max-width: 767px) {
  .benefit {
      flex-direction: column;
      text-align: center;
  }

  .benefit img {
      margin-bottom: 10px; /* Espaço abaixo da imagem em dispositivos móveis */
  }

  .benefit p {
      font-size: 0.875rem; /* Reduz o tamanho do texto em dispositivos móveis */
  }
}

/* Responsividade */
@media (max-width: 767px) {
  .hero-content {
      flex-direction: column;
      text-align: center;
  }

  .hero-text {
      max-width: 100%;
      margin-bottom: 30px;
  }

  .product-card {
      width: 100%;
      padding: 15px;
  }

  .validation-content, .manager-content, .marketer-content {
      flex-direction: column;
      text-align: center;
  }

  .validation-text, .manager-text, .marketer-text {
      max-width: 100%;
      margin-bottom: 20px;
  }
}
