.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.login{
background-image: url('./img/Login_1.jpg');
background-position: center;
background-size: cover;
}
.form-label{
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}
.text-body1{
    color: white;
}